{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GDSC</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'shared.css' %}">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <nav class="main-nav">
        <div class="main-nav_actual-container">
            <div class="main-nav_gdsc">
               <a href="/html/index.html"><img src="{% static "Screenshot_2023-05-20_182351-removebg-preview.png" %}" alt="GDSC"></a>
            </div>
        </div>
    </nav>
    <main>
        <!-- <div class="main_in_diff_setting_tryout"> -->
        <div class="main-div_container">
            <div class="main-div_input">
                <a href="/linear_regression">
                    <div class="main-div_1 common-div">
                        <h1>LINEAR REGRESSION</h1>
                    </div>
                </a>
                <a href="/image_class">
                    <div class="main-div_2 common-div">
                        <h1>IMAGE CLASS</h1>
                    </div>
                </a>
            </div>
        </div>
    </main>    
</body>
</html>